@model tut1.Models.Transaction

@{
    ViewBag.Title = "QuickCash";
}

<h2>QuickCash - $100</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" id="formSection">
        <h4>@ViewBag.Message</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Accept" class="btn btn-default" id="submit" />
            </div>
        </div>
        <img src="~/Images/eurogif.gif" id="progress" style="display:none;" />
    </div>
}



<div>
    @Html.ActionLink("Home", "Index", "Home")
</div>

@section Scripts {
    <script>
         $('#submit').click(function () {
        $('#progress').show();
            $.post('', { message: $('#message').val() })
                .done(function (response) {
                    setTimeout(function () { $('#formSection').html(response); }, 2000);
                });
            return false;
    });
</script>
}
