@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>This is only a project of the webpage</h3>

<p>You can register & log in (also with using Facebook) check your virtual account, do some operations and view transaction history. <br />
    Technologies which i used to build this page: <br /> 
    ASP.NET MVC 5 (Entity framework 6, OWIN, Json), Bootstrap, jQuery, Knockout.js </p>
